* {
    --dark-blue: #1A1543;
    --middle-blue: #3B356E;
    --light-violet: #c8c3ee21;
    --violet: #c8c3eead;
    --dark-grey: #696298;
    --light-grey: #ced4da;
    --black: black;
    --white: white;
    --red: #dc0a0a;
    --very-light-grey: #d3d3d359;
}